
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

a:active, 
a:hover,
a {
  text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    background-color: #5c6972;
}
